<tr>
 <td width="20">{{view Ember.Checkbox checkedBinding="runner.checked"}}</td>
 <td width="20" align="right">{{runner.rank}}.</td>
 <td>{{#link-to 'event.category.runner' runner}}{{runner.fullName}}{{/link-to}}</td>
 <td>{{runner.yearOfBirth}}</td>
 <td>{{runner.town}}</td>
 <td>{{runner.club}}</td>
 <td>{{runner.runTime}}</td>
 <td>{{#link-to 'event.category' runner.category}}{{runner.category}}{{/link-to}}</td>
</tr>
