 {{#with split}}
  <span class="split-entry-span">{{number}}</span>
  <span class="split-entry-span">{{#link-to 'event.leg' leg}}{{code}}{{/link-to}}</span>
  <span class="split-entry-span" title="Laufzeit">{{time}}</span>
  <span class="split-entry-span" title="R&uuml;ckstand auf F&uuml;hrenden">{{overallBehind}}</span>
  <span class="split-entry-span" title="Rang">({{overallRank}})</span>
  <span class="split-entry-span" title="Abschnitts Zeit">{{splitTime}}</span>
  <span {{bind-attr title=timeLoss}} {{bind-attr class=view.errorClass}}>{{splitBehind}}</span>
  <span class="split-entry-span" title="Abschnitts Rang">({{splitRank}})</span>
 {{/with}}
