<ul class="ranking-list">
{{#each runner.splits as |split|}}
 <li>
  <div class="row">
    <div class="hidden-xs-down col-sm-1 col-md-1 align-right">{{split.number}}</div>
    <div class="col-3 col-sm-1 col-md-1 align-right">{{#link-to 'event.legs.leg' split.leg}}{{split.code}}{{/link-to}}</div>
    <div class="col-3 col-sm-1 col-md-1 align-right" title="Laufzeit">{{split.time}}</div>
    <div class="col-3 col-sm-1 col-md-1 align-right" title="R&uuml;ckstand auf F&uuml;hrenden">+{{split.overallBehind}}</div>
    <div class="col-3 col-sm-1 col-md-1 align-right" title="Rang">{{#if split.overallRank}}({{split.overallRank}}.){{/if}}</div>
    <div class="col-3 col-offset-3 col-sm-offset-0 col-sm-1 col-md-1 align-right" title="Abschnitts Zeit">{{split.split}}</div>
    <div class="col-3 col-sm-1 col-md-1 align-right" title={{split.timeLoss}}>+{{split.splitBehind}}</div>
    <div class="col-3 col-sm-1 col-md-1 align-right" title="Abschnitts Rang">{{#if split.splitRank}}({{split.splitRank}}.){{/if}}</div>
    <div class="hidden-xs-down col-sm-1 col-md-1 align-right" title="Performance Index">{{#if split.perfidx}}{{split.perfidx}}%{{/if}}</div>
    <div class="clear"></div>
  </div>
 </li>
{{/each}}
</ul>