<div class="row">
 <div class="col-xs-12">

 <div class="pull-right">
 {{view "select" content=model.categories
	                optionLabelPath="content"
	                optionValuePath="content"
	                prompt="Kategorie:"
	                selection=selectedCategory}}
 </div>
 <ul class="event-list">
 {{#each filteredLegs as |leg|}}
  <li {{action 'legClicked' leg.id}}>
   {{#link-to 'leg' leg.id}}{{leg.id}}{{/link-to}}
   <div class="error-frequency-wrapper" style="left:70px"><div {{bind-attr style=leg.style}}>&nbsp;</div><span class="hidden-xs text-muted"><small>{{leg.errorFrequency}}%</small></span></div>
   <div class="pull-right">
     <span class="hidden-xs text-muted"><small>{{leg.categories}}</small></span>
     <span class="badge">{{leg.runners}}</span> 
   </div>
  </li>
 {{/each}}
 </ul>

 </div>
</div>