<div class="row">
 <div class="col-12">
  {{model.runner.fullName}} ({{model.runner.rank}}) vs. 
  <select onchange={{action (mut model.selectedOpponent) value="target.value"}}>
      {{#each model.opponents as |opponent|}}
      <option value={{opponent.id}} selected={{eq opponent.id model.selectedOpponent}}>{{opponent.fullNameWithRank}}</option>
      {{/each}}
  </select>
 </div>
</div>

<div class="row">
 <div class="col-12">
  {{h2h-component legs=selectedDiff width=graphWidth}}
 </div>
</div>