<div class="row">
 <div class="col-12">
  <h4>{{model.fullName}} <small>{{#link-to 'event.categories.category' model.category}}{{model.category}}{{/link-to}}</small></h4>
  <p>{{#link-to 'event.courses.course.h2h' model.id}}Direktvergleich{{/link-to}}</p>
  <p>Laufzeit: {{model.time}} / Fehler: {{model.errorTime}}</p>
 </div>
</div>

<div class="row">
 <div class="col-12">
  {{splits-list runner=model hover=controller.hoverleg splitHover="onleghover"}}
 </div>
</div>

<div class="row">
 <div class="col-12">
  <dl>
   <dt>Spalte 1</dt><dd>Posten</dd>
   <dt>Spalte 2</dt><dd>Kontrolnummer</dd>
   <dt>Spalte 3</dt><dd>Laufzeit</dd>
   <dt>Spalte 4</dt><dd>R&uuml;ckstand auf F&uuml;hrenden</dd>
   <dt>Spalte 5</dt><dd>Gesamtrang</dd>
   <dt>Spalte 6</dt><dd>Streckenzeit</dd>
   <dt>Spalte 7</dt><dd>Zeitverlust auf Strecke (rot = Fehler, Tooltip zeigt errechnete Fehlerzeit)</dd>
   <dt>Spalte 8</dt><dd>Streckenrang</dd>
   <dt>Spalte 9</dt><dd>Performance Index - 100% = Durchschnittszeit der Top 25%</dd>
  </dl>
 </div>
</div>
