<div class="col-12">
{{#ember-collection items=model.runners estimated-height=500 estimated-width=800 cell-layout=(fixed-grid-layout 800 41) as |item index|}}
 <div class="row" style="padding:10px 0px; border-bottom: 1px solid #aaa">
   <div class="col-9 col-sm-4 nowrap">
    {{#link-to 'event.categories.category.runner' category id}}{{fullName}}{{/link-to}}
   </div>
   <div class="col-sm-1 hidden-xs nowrap">{{yearOfBirth}}</div>
   <div class="col-sm-3 hidden-xs nowrap">{{city}}</div>
   <div class="col-sm-3 hidden-xs nowrap">{{club}}</div>
   <div class="col-3 col-sm-1">{{#link-to 'category' category}}{{category}}{{/link-to}}</div>
 </div>
{{/ember-collection}}
</div>