<div class="grid12">
<ul class="event-list">
  {{#each categories}}
  <li {{action 'categoryClicked' name}}>
    {{#link-to 'category' name}}
    {{name}}
    {{/link-to}}

    <div class="pull-right">
      <span class="mute">{{distance}}m</span>
      <span class="mute">{{ascent}}m</span>
      <span class="mute">{{controls}} Posten</span>
      <span class="badge">{{runners}}</span> 
    </div>
  </li>
  {{/each}}
</ul>
</div>