<div class="grid12">
 <p>Diese Seite zeigt alle Posten an und sortiert sie aufgrund der Fehlerh&auml;ufigkeit. Damit ist erkennbar, welche
    Posten grosse Probleme gemacht haben und welche eher einfacher waren.</p>
 <div class="pull-right">
  {{view "select" content=categories
	                optionLabelPath="content"
	                optionValuePath="content"
	                prompt="Kategorie:"
	                selection=selectedCategory}}
 </div>
 <ul class="event-list">
  {{#each filteredControls as |control|}}
    <li {{action 'controlClicked' control.code}}>{{#link-to 'control' control.code}}{{control.code}}{{/link-to}}<div style="position:absolute; left:45px; top:11px"><div {{bind-attr style=control.style}}>&nbsp;</div><span class="mute">{{control.errorFrequency}}%</span></div>
     <div class="pull-right">
      <span class="mute">{{control.cats}}</span>
      <span class="badge">{{control.runners}}</span>
     </div>
    </li>
  {{/each}}
 </ul>
</div>
