<div class="grid12">
 <p>Diese Seite zeigt alle Posten an und sortiert sie aufgrund der Fehlerh&auml;ufigkeit. Damit ist erkennbar, welche
    Posten grosse Probleme gemacht haben und welche eher einfacher waren.</p>
 <div class="pull-right">
  {{view "select" content=model.categories
	                optionLabelPath="content"
	                optionValuePath="content"
	                prompt="Kategorie:"
	                selection=selectedCategory}}
 </div>
 <ul class="event-list">
  {{#each filteredControls as |control|}}
    <li {{action 'controlClicked' control.code}}>
     {{#link-to 'control' control.code}}{{control.code}}{{/link-to}}
     <div class="error-frequency-wrapper" style="left:55px"><div {{bind-attr style=control.style}}>&nbsp;</div><span class="hidden-xs text-muted"><small>{{control.errorFrequency}}%</small></span></div>
     <div class="pull-right">
      <span class="text-muted hidden-xs"><small>{{control.categories}}</small></span>
      <span class="badge">{{control.runners}}</span>
     </div>
    </li>
  {{/each}}
 </ul>
</div>
