<header>
  <div class="content">
    <div class="breadcrumb">{{#link-to 'events'}}Events{{/link-to}} / {{#link-to 'event'}}{{name}}{{/link-to}}</div>
  </div>
</header>

<div class="content">

<div class="grid6">
<h3 class="list-header">Kategorien</h3>
<ul class="event-list">
  {{#each categories}}
  <li {{action 'categoryClicked' name}}>
    {{#link-to 'event.category' name}}
    {{name}} 
    {{/link-to}}
    <span class="mute">{{runners.length}} Teilnehmer</span>
  </li>
  {{/each}}
</ul>
</div>

<div class="grid6">
<h3 class="list-header">Strecken</h3>
<ul class="event-list">
  {{#each legs}}
  <li {{action 'legClicked' code}}>
    {{#link-to 'event.leg' code}}{{code}}{{/link-to}}
    <span class="mute">{{categories}}</span>
  </li>
  {{/each}}
</ul>
</div>

</div>