<div class="content bodybox">
 <div class="grid12">
  <table class="ranking-table">
   <tbody>
    {{#each data}}
    <tr>
      <td>{{displayPos}}</td>
      <td>{{#link-to 'event.category.runner' category runnerId}}{{runner}}{{/link-to}}</td>
      <td>{{yearOfBirth}}</td>
      <td>{{club}}</td>
      <td>{{split}}</td>
      <td>{{behind}}</td>
      <td>{{timeLoss}}</td>
      <td>{{#link-to 'event.category' category}}{{category}}{{/link-to}}</td>
    </tr>
    {{/each}}
   </tbody>
  </table>
 </div>
 <div style="clear:both"></div>
</div>