  <table class="ranking-table">
   <tbody>
    {{#each model.data as |runner|}}
    <tr>
      <td>{{runner.splitRank}}.</td>
      <td>{{#link-to 'category.runner' runner.category runner.id}}{{runner.fullName}}{{/link-to}}</td>
      <td>{{runner.yearOfBirth}}</td>
      <td>{{runner.club}}</td>
      <td>{{runner.city}}</td>
      <td>{{runner.split}}</td>
      <td title={{runner.timeLoss}} {{bind-attr class="runner.timeLoss:error"}}>{{runner.splitBehind}}</td>
      <td>{{#link-to 'category' runner.category}}{{runner.category}}{{/link-to}}</td>
    </tr>
    {{/each}}
   </tbody>
  </table>
