  <table class="ranking-table">
   <tbody>
    {{#each runner in data}}
    <tr>
      <td>{{runner.rank}}.</td>
      <td>{{#link-to 'category.runner' runner.category runner.id}}{{runner.fullName}}{{/link-to}}</td>
      <td>{{runner.yearOfBirth}}</td>
      <td>{{runner.club}}</td>
      <td>{{runner.split}}</td>
      <td>{{runner.behind}}</td>
      <td>{{runner.timeLoss}}</td>
      <td>{{#link-to 'category' runner.category}}{{runner.category}}{{/link-to}}</td>
    </tr>
    {{/each}}
   </tbody>
  </table>
