<div class="row">
 <div class="col-12">
  <ul class="event-list">
    {{#each model as |event|}}
	  <li {{action 'eventClicked' event.source event.id}}>
	    <span class="date visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">{{event.date}}</span>
	    {{#link-to 'event' event.source event.id}}{{event.name}}{{/link-to}}
	    <span class="text-muted hidden-xs"><small>{{event.subtitle}}</small></span>
	    <div class="float-right hidden-xs">
	      <small><span class="text-muted">{{event.map}}</span></small>
      </div>
    </li>
    {{/each}}
  </ul>
 </div>
</div>