 <div class="grid12">
  <ul class="event-list">
    {{#each}}
	  <li {{action 'eventClicked' id}}>
	    <span class="date">{{date}}</span>
	    {{#link-to 'event' id}}{{name}}{{/link-to}}
	    <div class="pull-right">
  	    <span class="mute">{{map}}</span>
        <span class="badge">{{runners}}</span>
      </div>
    </li>
    {{/each}}
  </ul>
 </div>
 <div style="clear:both"></div>
