<div class="row">
  <div class="col-2">&nbsp;</div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">Resultate hochladen</div>
      <div class="card-body">
        <p class="card-text">Oware oder Kraemer Datei ausw&auml;hlen und dann hochladen.</p>

  <div class="form-group">
    <label>Encoding:</label>
    <select class="form-control">
      {{#each encodings as |encoding|}}
      <option value={{encoding.value}}>{{encoding.label}}</option>
      {{/each}}
    </select>
  </div>

        <p class="card-text"><input type="file" name="file" encoding={{encoding}} text={{text}} onchange={{action 'fileChanged'}}></p>
        <p class="card-text">Bei Fragen oder Problemen kontaktiere mich per e-Mail.</p>
        <hr>
  
  {{#if event}}

  <div class="form-group">
    <label>Wettkampf:</label>
    <input type="text" value={{event.name}} class="form-control">
  </div>

  <div class="form-group">
    <label>Karte:</label>
    <input type="text" value={{event.map}}  class="form-control">
  </div>

  <div class="form-group">
    <label>Datum:</label>
    <input type="date" value={{event.date}} class="form-control">
  </div>

  <div class="form-group">
    <label>Startzeit:</label>
    <input type="text" value={{event.startTime}} class="form-control">
  </div>

  <div class="form-group">
    <label>Inhalt:</label>
    <textarea readonly="readonly" value={{text}} class="form-control" style="min-height: 300px"/>
  </div>

  <div class="form-group">
    <label>Kategorien {{event.categories.length}}:</label>
    <ul style="display:inline-block; list-style:none">
      {{#each event.categories as |category|}}
      <li>{{category.name}} - {{category.runners.length}} Läufer</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

      </div>
      {{#if event}}
      <div class="card-footer text-right">
        <input type="button" {{action "submit"}} value="Speichern" disabled={{submitDisabled}} class="btn btn-primary">
      </div>
      {{/if}}
    </div>
  </div>
  <div class="col-2">&nbsp;</div>
</div>

