<h3>Posten {{model.code}}</h3>

<h4>Kategorien</h4>
<ul class="event-list">
{{#each model.categories as |category|}}
  <li>{{#link-to 'category' category.name}}{{category.name}}{{/link-to}} <span class="badge pull-right">{{category.runners}}</span></li>
{{/each}}
</ul>

<h4>Eingehende Strecken</h4>
<ul class="event-list">
{{#each model.from as |from|}}
  <li>
   {{#link-to 'control' from.code}}{{from.code}}{{/link-to}}
   <div class="error-frequency-wrapper" style="left:60px"><div {{bind-attr style=from.style}}>&nbsp;</div><span class="text-muted"><small>{{from.errorFrequency}}%</small></span></div>
   <div class="pull-right">
    <span class="text-muted nowrap hidden-xs"><small>{{from.categories}}</small></span>
    <span class="badge">{{from.runners}}</span>
   </div>
  </li>
{{/each}}
</ul>

<h4>Ausgehende Strecken</h4>
<ul class="event-list">
{{#each model.to as |to|}}
  <li>
   {{#link-to 'control' to.code}}{{to.code}}{{/link-to}}
   <div class="error-frequency-wrapper" style="left:60px"><div {{bind-attr style=to.style}}>&nbsp;</div><span class="text-muted"><small>{{to.errorFrequency}}%</small></span></div>
   <div class="pull-right">
    <span class="text-muted nowrap hidden-xs"><small>{{to.categories}}</small></span>
    <span class="badge">{{to.runners}}</span>
   </div>
  </li>
{{/each}}
</ul>