<div class="row">
 <div class="col-12">
 <ul class="event-list">
  {{#each model.categories as |category|}}
  <li {{action 'categoryClicked' category.name}}>
    {{#link-to 'event.categories.category' category.name}}{{category.name}}{{/link-to}}

    <div class="float-right">
      <span class="text-muted">
        <small>{{category.distance}}m</small> / 
        <small>{{category.ascent}}m</small> /
        <small>{{category.controls}} Posten</small>
      </span>
      <span class="badge badge-pills badge-orange">{{category.runners}}</span> 
    </div>
  </li>
  {{/each}}
 </ul>
 </div>
</div>